# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/

# Visual Studio Code
.vscode/

# Flutter specific outputs
flutter_*.png
**/Generated.xcconfig
**/*.lock

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*
ios/Pods/

# Android
aandroid/.gradle/
android/app/build/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Pods/

# Web
web/.dart_tool/

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Credentials
*.key
*.crt
.keystore
